@import 'tailwindcss';

@theme {
    --color-primary: #008803;
    --color-logout: #d4183d;
    --color-hayabusa: #008803;
    --color-yamabiko: #27ae60;
    --color-nasuno: #e67e22;
    --color-green: #00c950;
    --color-granclass: #ad46ff;
    --color-textPrimary: #0a0a0a;
    --color-textSecondary: #5a6b5a;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
        color: var(--color-textPrimary);
    }
    h3 {
        font-size: var(--text-lg);
        color: var(--color-textPrimary);
    }
    h5 {
        font-size: var(--text-base);
        color: var(--color-textSecondary);
    }
}

@layer components {
    .contained_btn {
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 1rem;
        border-radius: 0.5rem;
    }
    .contained_btn:hover {
        background-color: color-mix(
            in oklab,
            var(--color-primary) 80%,
            transparent
        );
    }
    .contained_btn:disabled {
        background-color: gray;
    }
}

@layer utilities {
    input[type='date']::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
    input[type='time']::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
}
